[submodule "dot.vim/bundle/vim-less"]
	path = dot.vim/bundle/vim-less
	url = https://github.com/groenewege/vim-less.git
[submodule "dot.vim/bundle/vim-airline"]
	path = dot.vim/bundle/vim-airline
	url = git@github.com:vim-airline/vim-airline.git
[submodule "dot.vim/bundle/vim-airline-themes"]
	path = dot.vim/bundle/vim-airline-themes
	url = git@github.com:vim-airline/vim-airline-themes.git
[submodule "dot.vim/bundle/vim-colors-solarized"]
	path = dot.vim/bundle/vim-colors-solarized
	url = git@github.com:altercation/vim-colors-solarized.git
[submodule "dot.vim/bundle/vim-vue"]
	path = dot.vim/bundle/vim-vue
	url = https://github.com/posva/vim-vue.git
